@using QuizSystem.Common

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/img/favicon.ico" rel="icon" type="image/png">
        <link href="css/addons/datatables.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/lazy.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/demo.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/quiz.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" asp-append-version="true" />

    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/img/favicon.ico" rel="icon" type="image/png">
        <link href="css/addons/datatables.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/lazy.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/demo.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/quiz.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar rounded navbar-expand-sm navbar-dark bg-primary shadow">
            <div class="container">
                <img src="~/img/SoftUni_Symbol_White.png" />
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Quiz System</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav ml-auto">
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a class="nav-link active" asp-area="" asp-controller="Contests" asp-action="Start">Contests</a>
                            </li>
                        }

                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="rounded bg-primary footer">
        <div class="container">
            <p class="text-white">© 2020-2020 - Open Quiz System (OQS) 1.0.20200501 - running on Linux. <a href="https://github.com/StoyanShopov/SoftUniQuizSystem">Проект с отворен код.</a></p>
            <br />
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @this.RenderSection("Scripts", required: false)
</body>
</html>
