@model StarContestInputModel

@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row mt-3">
        <form asp-controller="Contests" asp-action="Start" method="post">
                <label id="Password" class="form-group">Password</label>
                <input type="Password" id="Password" name="Password" class="form-group" />
                <span class="text-danger"></span>
                <button type="submit" class="btn btn-primary">Go</button>
            </form>
    </div>
</div>


