@{
    this.ViewData["Title"] = "Home Page";
}

<div class="page-hero bg-white text-primary" id="banner">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <div class="title text-center pt-5">
                    <h1 class="display-2 text-primary">SoftUni Quiz System</h1>
                    <h4 class="text-primary">Is a simple quiz system for educational purposes.</h4>
                </div>
                <img src="~/img/logo.softuni.svg" />
            </div>
        </div>
    </div>
</div>
@section Login
    {
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
            Log in
        </a>
    </li>
}


